# Rigel 1 «Orion» — меню GRUB (режим UEFI).
# Подстановки %INSTALL_DIR%, %ARCH%, %ARCHISO_UUID%, %KERNEL_PARAMS% делает mkarchiso.

insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660
insmod all_video

set default="0"
set timeout=15

menuentry "Rigel 1 «Orion» (x86_64, UEFI)" --id rigel --class rigel {
    set gfxpayload=keep
    linux  /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% %KERNEL_PARAMS%
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}

menuentry "Rigel 1 «Orion» — ядро LTS" --id rigel-lts --class rigel {
    set gfxpayload=keep
    linux  /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% %KERNEL_PARAMS%
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
}

menuentry "Rigel: настройки прошивки UEFI" --id uefi-firmware {
    fwsetup
}

menuentry "Перезагрузить" --class reboot {
    reboot
}

menuentry "Выключить" --class shutdown {
    halt
}
